<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>资源管理系统-首页</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
<body>
{% csrf_token %}
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到资源管理系统!</div>
        <div class="fr">
            {% if user.is_authenticated %}
                <div class="login_btn fl">
                    欢迎您：<em>{{ user.username }}</em>
                    <span>|</span>
                    <a href="{% url 'user:logout' %}">退出</a>
                </div>
            {% else %}
                <div class="login_btn fl">
                    <a href="{% url 'user:login' %}">登录</a>
                    <span>|</span>
                    <a href="{% url 'user:register' %}">注册</a>
                </div>
            {% endif %}
            <div class="user_link fl">
                <span>|</span>
                <a href="{% url 'user:center' %}">用户中心</a>
                <span>|</span>
                <a href="{% url 'cart:cart' %}">我的购物车</a>
                <span>|</span>
                <a href="{% url 'user:order' 1 %}">我的订单</a>
            </div>
        </div>
    </div>
</div>
<div class="search_bar clearfix">
    <a href="{% url 'resource:index' %}" class="logo fl"><img src="{% static 'image/logo01.png' %}"></a>
    <div class="search_con fl">
        <form method="get" action="/search">
            <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
            <input type="submit" class="input_btn fr" name="" value="搜索">
        </form>
    </div>
    <div class="guest_cart fr">
        <a href="{% url 'cart:cart' %}" class="cart_name fl">我的购物车</a>
        <div class="goods_count fl" id="show_count">{{ cart_count }}</div>
    </div>
</div>

<div class="navbar_con">
    <div class="navbar">
        <h1 class="fl">资源分类</h1>
        <ul class="navlist fl">
            <li><a href="{% url 'resource:index' %}">首页</a></li>
            <li class="interval">|</li>
        </ul>
    </div>
</div>

<div class="center_con clearfix">
    <ul class="subnav fl">
        {% for type in resource_types %}
            <li><a href="{% url 'resource:type_list' type.id %}" class="{{ type.logo }}">{{ type.type_name }}</a></li>
        {% endfor %}
    </ul>
    <div class="slide fl">
        <ul class="slide_pics">
            <li><a href="#"><img src="{% static 'image/xifuer.png' %}"></a></li>
        </ul>
    </div>
    <div class="demand fl">
        <span>您有什么需求?</span><br/>
        <span>您有什么想法？</span><br/>
        <span>您有什么建议？</span><br/>
        <span>在下面可以留言给我(^ ^)</span>
    </div>
    <div class="textare fl">
        <textarea class="site_area2" id="demand" name="userdemand" placeholder="可以留下联系方式哦！"></textarea>
        <div class="button_cls"><a href="javascript:void(0)" id="demand_btn">提交</a></div>
    </div>
</div>
<hr class="hr_color">
<div class="type_resource">
    <div class="list_title clearfix">
        <h3 class="fl" id="model02">全部内容</h3>
        <div class="subtitle fl">
            <span></span>
        </div>
        <a href="#" class="goods_more fr">查看更多 ></a>
    </div>
</div>
<div class="common_list_con1 clearfix">
    <ul class="goods_list_th1 clearfix">
        <li class="col02">资源名称</li>
        <li class="col03">资源描述</li>
        <li class="col04">资源价格</li>
        <li class="col05">操作一</li>
        <li class="col06">操作二</li>
        <li class="col07">操作三</li>
    </ul>
    {% for resource in resource_list %}
        <ul class="goods_list_td1 clearfix">
            <li class="col02">{{ resource.rname }}</li>
            <li class="col03">{{ resource.rdescribe }}</li>
            <li class="col04">{{ resource.rprice }}元</li>
            <li class="col05">
                <button class="btn_addcart" onclick="add_cart({{ resource.id }})">+ 购物车</button>
            </li>
            <li class="col06">
                <form action="{% url 'order:order_place' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="resource_id" value="{{ resource.id }}"/>
                    <input class="btn_addcart" type="submit" value="立即购买"/>
                </form>
            </li>
            <li class="col07"><a href="{% url 'resource:detail' resource.id %}">查看下载地址</a></li>
        </ul>
    {% endfor %}
</div>

</div>
<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2020 豪威尔科技有限公司 All Rights Reserved</p>
    <p>电话：(028) 66333314 蜀ICP备15008801号-2</p>
</div>
</body>
<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script type="text/javascript">
    function add_cart(resource_id) {
        csrf = $("input[name='csrfmiddlewaretoken']").val();
        params = {'resource_id': resource_id, 'csrfmiddlewaretoken': csrf}
        // 发起ajax post请求，访问/cart/caradd
        $.post('{% url 'cart:cartadd' %}', params, function (data) {
            if (data.res == 5)
                num = data.cart_len;
            $('#show_count').empty().text(num);
        })
    }

    $("#demand_btn").click(function () {
        user_demand = $("#demand").val();
        csrf = $("input[name='csrfmiddlewaretoken']").val();
        params = {'user_demand': user_demand, 'csrfmiddlewaretoken': csrf}
        $.post('{% url 'user:demand' %}', params, function (data) {
            if (data.resp == 1)
                alert(data.message)
                $("#demand").empty()
        })

    })
</script>
</html>