<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
</head>
<body>
{% csrf_token %}
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到资源管理系统!</div>
        <div class="fr">
            {% if user.is_authenticated %}
                <div class="login_btn fl">
                    <em>{{ user.username }}</em>
                    <span>|</span>
                    <a href="{% url 'user:logout' %}">退出</a>
                </div>
            {% else %}
                <div class="login_btn fl">
                    <a href="{% url 'user:login' %}">登录</a>
                    <span>|</span>
                    <a href="{% url 'user:register' %}">注册</a>
                </div>
            {% endif %}
            <div class="user_link fl">
                <span>|</span>
                <a href="{% url 'user:center' %}">用户中心</a>
                <span>|</span>
                <a href="{% url 'cart:cart' %}">我的购物车</a>
                <span>|</span>
                <a href="{% url 'user:order' 1 %}">我的订单</a>
            </div>
        </div>
    </div>
</div>
<div class="search_bar clearfix">
    <a href="{% url 'resource:index' %}" class="logo fl"><img src="{% static 'image/logo01.png' %}"></a>
    <div class="sub_page_name fl">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;个人中心
    </div>
    <div class="search_bar clearfix">
        <div class="search_con fr">
            <form method="get" action="/search">
                <input type="text" class="input_text fl" placeholder="搜索商品" name="q">
                <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
        </div>
    </div>
</div>

<div class="main_con clearfix">
    <div class="left_menu_con clearfix">
        <h3>用户中心</h3>
        <ul>
            <li><a href="{% url 'user:center' %}" {% if page == 'user' %}class="active"{% endif %}>· 个人信息</a></li>
            <li><a href="{% url 'user:order' 1 %}" {% if page == 'order' %}class="active"{% endif %}>· 全部订单</a></li>
            <li><a href="{% url 'user:address' %}" {% if page == 'address' %}class="active"{% endif %}>· 收货地址</a></li>
            <li><a href="{% url 'user:power' %}" {% if page == 'power' %}class="active"{% endif %}>· 会员中心</a></li>
        </ul>
    </div>
    <div class="power_right_content clearfix">
        <div class="power_info_con clearfix">
            <h3 class="common_title4">基本信息</h3>
            <ul class="power_user_info_list">
                <li><span>会员等级：</span>{{ user.power_name }}</li>
            </ul>
        </div>
        <div>
            <h3 class="common_title5">终身会员介绍</h3>
            <div class="power_user_info_list1">
                终身会员介绍
                11111111111
                222222222222
            </div>
        </div>
        <h3 class="common_title6">支付方式</h3>
        <div class="common_list_con2 clearfix">
            <div class="pay_style_con clearfix">
                <input name="pay_style" type="radio" value="2" checked>
                <label class="zhifubao"></label>
                <input name="pay_style" type="radio" value="1">
                <label class="weixin">微信支付</label>
            </div>
        </div>
        <div class="info_submit1">
            <a href="javascript:void(0)" id="buy_super_user">立即购买</a>
        </div>
        <div class="footer">
            <div class="foot_link">
                <a href="#">关于我们</a>
                <span>|</span>
                <a href="#">联系我们</a>
                <span>|</span>
                <a href="#">招聘人才</a>
                <span>|</span>
                <a href="#">友情链接</a>
            </div>
            <p>CopyRight © 2020 豪威尔科技有限公司 All Rights Reserved</p>
            <p>电话：(028) 66333314 蜀ICP备15008801号-2</p>
        </div>
    </div>
</div>
<div class="popup_con">
    <div class="popup">
        <p>订单提交成功!</p>
    </div>
    <div class="mask"></div>
</div>
</body>
<script type="text/javascript">
    $("#buy_super_user").click(function () {
        csrf = $("input[name='csrfmiddlewaretoken']").val();
        pay_method = $('input[name="pay_style"]:checked').val();
        params = {
            'pay_method': pay_method,
            'csrfmiddlewaretoken': csrf
        };
        // 发起ajax post请求，访问/cart/remove
        $.post('{% url 'order:power' %}', params, function (data) {
            if (data.res == 5) {
                // 引导用户到支付页面
                window.open(data.pay_url);
                // 浏览器访问/order[表情]eck, 获取支付交易的结果
                // ajax post 传递参数:order_id
                id = data.order_id;
                params1 = {
                    'csrfmiddlewaretoken': csrf,
                    'order_id': id
                }
                $.post('{% url 'order:powerpay' %}', params1, function (data) {
                    if (data.res == 3) {
                        alert('支付成功');
                        // 刷新页面
                        location.reload()
                    } else {
                        alert(data.errmsg)
                    }
                })
            } else {
                alert(data.errmsg)
            }
        });
    });
</script>
</html>